body{
    top:25%;
    left: 25%;
}
/*position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%); */
table{
    border-collapse: collapse;
    width: 100%;
}
th, td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th{
    background-color: lightgoldenrodyellow;
}